---
// Astro
import type { CollectionEntry } from "astro:content";

// Layouts
import Layout from "@layouts/Layout.astro";

// Interface
export interface Props {
    post: CollectionEntry<"blog">;
}

// Constants
const { post } = Astro.props;
const { Content } = await post.render();

const {
    title,
    minRead,
    pubDate,
    modDate,
    description,
    canonicalURL,
} = post.data;

const layoutProps = {
    title: `${title}`,
    minRead,
    pubDate,
    modDate,
    description,
    canonicalURL,
};
---

<Layout {...layoutProps}>
    <main>
        <h2 class="text-2xl font-semibold">{title}</h2>

        <p class="text-skin-base/90 text-sm pt-1 pb-4">
            Published on: {pubDate.toLocaleDateString()}</br>

            {modDate && (
                <span>Updated on: {modDate.toLocaleDateString()}</span></br>
            )}

            ~{minRead} minutes read
        </p>

        <div class="prose max-w-full">
            <Content/>
        </div>

        <div class="flex flex-row-reverse">
            <button class="text-sm hover:opacity-75 backToTop">
                Back to Top
            </button>
        </div>

        <hr class="mt-7 border-dashed"/>
    </main>
</Layout>

<script>
    const backToTop =
        document.getElementsByClassName("backToTop")[0] as HTMLElement;

    backToTop.onclick = function() {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    };
</script>
